*{

    padding:0px;
    margin:0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   

}

body{

    background-color: rgb(34, 34, 34);
    padding: 20px;

}

/* --------------- classes ------------ */

/* Estilo que compôem os estilos dos card*/
.container-card{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 15px;
    


}
/*Cards. Cada pequena seção separada*/
.card{


    background-color: rgba(77, 74, 74, 0.377);
    border-radius: 5px;
    padding: 8px;
    max-height: 50vh;


}

/* Inputs */

/*Estilo dos inputs direcionados aos inputs*/
.input-budgets{

  background-color: rgb(255, 255, 255);
  color: black;
  height: 19px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.774);
  padding: 4px;
  margin: auto;

}

.input-budgets:focus{

    appearance: none;
    outline: none;
  
  }

.budgets-container{

   display: flex;
   gap: 20px;

}

/* Complementos */
.complements-container{

    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;


}

.data-complement{

    font-size: 1.6em;
    font-weight: 550;
    text-align: center;

}

.details-complement{


    font-size: 13px;

}

#red{

    color: rgb(218, 105, 71);

}

#green{

    color:rgb(24, 134, 48);

}

/* ---------------         ------------ */